{
  "openapi": "3.1.0",
  "info": {
    "title": "Metris Pro Full API",
    "version": "2.0.1",
    "description": "Полное API для поиска квартир, получения информации о ЖК, планировок и фото."
  },
  "servers": [
    {
      "url": "https://metris.pro"
    }
  ],
  "paths": {
    "/local/components/metris_main/building_list/ajax/getFlats.php": {
      "post": {
        "operationId": "getFlats",
        "summary": "Поиск квартир",
        "description": "Возвращает список квартир по фильтрам",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": { "type": "string", "example": "10258225_0" },
                  "room_count": { "type": "string", "example": "1,2,3" },
                  "price_min": { "type": "integer", "example": 3000000 },
                  "price_max": { "type": "integer", "example": 8000000 },
                  "space_min": { "type": "number", "example": 30 },
                  "space_max": { "type": "number", "example": 80 },
                  "limit": { "type": "integer", "example": 5 },
                  "offset": { "type": "integer", "example": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Список квартир",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "flat_id": { "type": "string" },
                          "complex_id": { "type": "string" },
                          "name": { "type": "string" },
                          "rooms": { "type": "integer" },
                          "space": { "type": "number" },
                          "price_discount": { "type": "number" },
                          "floor": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getFlatCard.php": {
      "post": {
        "operationId": "getFlatCard",
        "summary": "Детали квартиры",
        "description": "Возвращает полную информацию по квартире: планировки, фото, описание",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "flat_id": { "type": "string", "example": "123456" }
                },
                "required": ["flat_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Детальная информация о квартире",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flat_id": { "type": "string" },
                    "space": { "type": "number" },
                    "rooms": { "type": "integer" },
                    "price_discount": { "type": "number" },
                    "floor": { "type": "integer" },
                    "plan_images": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "description": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getTariffCard.php": {
      "post": {
        "operationId": "getComplexCard",
        "summary": "Информация о ЖК",
        "description": "Возвращает название, описание и застройщика по complex_id",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "complex_id": { "type": "string", "example": "98765" }
                },
                "required": ["complex_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Информация о ЖК",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "complex_id": { "type": "string" },
                    "complex_name": { "type": "string" },
                    "developer": { "type": "string" },
                    "description": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
