{
  "openapi": "3.1.0",
  "info": {
    "title": "Metris Pro Full API",
    "version": "2.0.0",
    "description": "Полное неофициальное API Metris.pro для поиска квартир, получения планировок, фото и информации о ЖК."
  },
  "servers": [
    {
      "url": "https://metris.pro"
    }
  ],
  "paths": {
    "/local/components/metris_main/building_list/ajax/getFlats.php": {
      "post": {
        "operationId": "getFlats",
        "summary": "Поиск квартир",
        "description": "Возвращает список квартир по фильтрам.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": { "type": "string", "example": "10258225_0" },
                  "room_count": { "type": "string", "example": "1,2,3" },
                  "price_min": { "type": "integer", "example": 3000000 },
                  "price_max": { "type": "integer", "example": 8000000 },
                  "space_min": { "type": "number", "example": 30 },
                  "space_max": { "type": "number", "example": 80 },
                  "limit": { "type": "integer", "example": 10 },
                  "offset": { "type": "integer", "example": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Список квартир",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getFlatCard.php": {
      "post": {
        "operationId": "getFlatCard",
        "summary": "Информация по квартире",
        "description": "Возвращает детальную информацию по квартире, включая планировки и фото.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "flat_id": { "type": "string", "example": "123456" }
                },
                "required": ["flat_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Детальная информация о квартире",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getTariffCard.php": {
      "post": {
        "operationId": "getComplexCard",
        "summary": "Информация о ЖК",
        "description": "Возвращает название, описание и застройщика по complex_id.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "complex_id": { "type": "string", "example": "98765" }
                },
                "required": ["complex_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Информация о ЖК",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      }
    }
  }
}
