{
  "openapi": "3.1.0",
  "info": { "title": "Metris Minimal API", "version": "1.0.0" },
  "servers": [{ "url": "https://metris.pro" }],
  "paths": {
    "/local/components/metris_main/building_list/ajax/getFlats.php": {
      "post": {
        "operationId": "getFlats",
        "summary": "Поиск квартир",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": { "type": "string", "example": "10258225_0" },
                  "room_count": { "type": "string", "example": "2" },
                  "limit": { "type": "integer", "example": 50 },
                  "offset": { "type": "integer", "example": 0 },
                  "price_min": { "type": "integer", "example": 0 },
                  "price_max": { "type": "integer", "example": 10000000 }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON (может прийти с text/html)",
            "content": {
              "application/json": { "schema": { "type": "object", "additionalProperties": true } },
              "text/html":        { "schema": { "type": "object", "additionalProperties": true } }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getTariffCard.php": {
      "post": {
        "operationId": "getComplexCard",
        "summary": "Карточка ЖК (название/описание/застройщик/сроки)",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": { "complex_id": { "type": "string", "example": "2813" } },
                "required": ["complex_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON (может прийти с text/html)",
            "content": {
              "application/json": { "schema": { "type": "object", "additionalProperties": true } },
              "text/html":        { "schema": { "type": "object", "additionalProperties": true } }
            }
          }
        }
      }
    }
  }
}
