{
  "openapi": "3.1.0",
  "info": {
    "title": "Metris Pro Full API",
    "version": "2.1.0",
    "description": "Поиск квартир, карточка квартиры (планировки/фото) и карточка ЖК (название/описание/застройщик). Ответы сервера могут приходить с content-type text/html, но содержат JSON."
  },
  "servers": [
    { "url": "https://metris.pro" }
  ],
  "paths": {
    "/local/components/metris_main/building_list/ajax/getFlats.php": {
      "post": {
        "operationId": "getFlats",
        "summary": "Поиск квартир по фильтрам",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "city":        { "type": "string",  "example": "10258225_0", "description": "ID города (Уфа = 10258225_0)" },
                  "room_count":  { "type": "string",  "example": "2",          "description": "Количество комнат (например: 1, 2, 3)" },
                  "price_min":   { "type": "integer", "example": 0 },
                  "price_max":   { "type": "integer", "example": 10000000 },
                  "space_min":   { "type": "number",  "example": 0 },
                  "space_max":   { "type": "number",  "example": 200 },
                  "limit":       { "type": "integer", "example": 50 },
                  "offset":      { "type": "integer", "example": 0 }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON со списком квартир (возможен content-type text/html)",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": {}, "additionalProperties": true } },
              "text/html":        { "schema": { "type": "object", "properties": {}, "additionalProperties": true } }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getFlatCard.php": {
      "post": {
        "operationId": "getFlatCard",
        "summary": "Карточка квартиры (планировки, фото, детали)",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": { "flat_id": { "type": "string", "example": "6850095" } },
                "required": ["flat_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON с деталями квартиры и ссылками на планировки/фото",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": {}, "additionalProperties": true } },
              "text/html":        { "schema": { "type": "object", "properties": {}, "additionalProperties": true } }
            }
          }
        }
      }
    },
    "/local/components/metris_main/building_list/ajax/getTariffCard.php": {
      "post": {
        "operationId": "getComplexCard",
        "summary": "Карточка ЖК (название, застройщик, описание/сроки)",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": { "complex_id": { "type": "string", "example": "2813" } },
                "required": ["complex_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON с данными ЖК",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": {}, "additionalProperties": true } },
              "text/html":        { "schema": { "type": "object", "properties": {}, "additionalProperties": true } }
            }
          }
        }
      }
    }
  }
}
